@using DisciplinarySystem.Application.Helpers
@model DisciplinarySystem.Application.Meetings.ViewModels.CreateMeeting


@{
	String startHour = String.IsNullOrEmpty(Model.Start) ? "08" : Model.Start.Split(":")[0];
	String startMin = String.IsNullOrEmpty(Model.Start) ? "00" : Model.Start.Split(":")[1];
	String endHour = String.IsNullOrEmpty(Model.End) ? "09" : Model.End.Split(":")[0];
	String endMin = String.IsNullOrEmpty(Model.End) ? "00" : Model.End.Split(":")[1];
}

@section Styles{
	<link rel="stylesheet" href="~/css/custome/timepicker.css"/>

	<style>
		.guest {
			font-size: 16px;
			margin: 4px;
			padding: 12px;
		}
	</style>

}


	<div class="d-flex justify-content-end mb-3">
		<button type="button" onclick="history.back()" class="btn btn-secondary d-flex align-items-center">
			بازگشت
			<i class="fa fa-angle-left me-2"></i>
		</button>
	</div>

	<form method="post">
		<input name="MeetingDate" value="@Model.MeetingDate" hidden/>
		<input name="InvitedUsers" id="invited-users" value="@Model.InvitedUsers" hidden />
		<div class="d-flex flex-column flex-sm-row align-items-sm-center  justify-content-between mb-2">
			<h3 class="mb-sm-0 mb-4">افرودن جلسه</h3>
			<div class="d-flex flex-column flex-sm-row gap-2">
				<div class="mb-3">
					<label class="form-label">تاریخ ثبت:</label>
					<input type="text" value="@DateTime.Now.ToShamsi()" class="form-control" readonly>
				</div>
			</div>
		</div>

		<div class="card shadow-sm">
			<section>
				<h4>دعوت افراد به جلسه:</h4>
				<div>
					<div class="row">
						<div class="d-flex flex-column flex-sm-row">
							<div class="col-md-4">
								<label class="form-label">نام و نام خانوادگی:</label>
								<div class="dropdown">
									<select class="form-control" id="user-selector" asp-for="InvitedUsers" asp-items="@Model.Users"></select>
								</div>
							</div>
							<button type="button" onclick="SetUser(document.querySelector('#user-selector'))" class="btn btn--add me-2 align-self-end mt-2 mt-sm-0 w-sm-100">
								افزودن
							</button>
						</div>
						<div class="guests m-3">
						</div>

					</div>

					<span class="text-danger" asp-validation-for="InvitedUsers"></span>
				</div>
			</section>
			<hr>
			<section>
				<div class="row">
					<div class="mb-3 col-md-4">
						<label class="form-label">عنوان:</label>
						<input type="text" asp-for="Title" class="form-control">
						<span class="text-danger" asp-validation-for="Title"></span>
					</div>
					<div class="mb-3 col-md-4">
						<label class="form-label">تاریخ شروع:</label>
						<div class="d-flex time-container">
							<button type="button"
								class="btn btn-secondary"
								onclick="TogglePicker('start-picker')">
								<i class="far fa-clock"></i>
							</button>
							<input dir="ltr"
							   type="text"
							   name="Start"
							   value="@startHour:@startMin"
							   id="start-time"
							   class="form-control"
							   readonly />
						</div>
						<div dir="ltr" class="time-picker hide-picker p-4"
						 id="start-picker">
							<div class="hour-picker d-flex flex-column align-items-center justify-content-center">
								<i class="fa fa-arrow-up text-muted pointer"
							   onclick="IncHours('start-time' , 'start-hour')"></i>
								<span id="start-hour" class="current-hour my-1">@startHour</span>
								<i class="fa fa-arrow-down text-muted pointer"
							   onclick="DecHours('start-time' , 'start-hour')"></i>
							</div>
							<div class="min-picker d-flex flex-column align-items-center justify-content-center">
								<i class="fa fa-arrow-up text-muted pointer"
							   onclick="IncMin('start-time' , 'start-min')"></i>
								<span id="start-min" class="current-min my-1">@startMin</span>
								<i class="fa fa-arrow-down text-muted pointer"
							   onclick="DecMin('start-time' , 'start-min')"></i>
							</div>
						</div>
						<span class="text-danger" asp-validation-for="Start"></span>
					</div>
					<div class="mb-3 col-md-4">
						<label class="form-label">تاریخ اتمام:</label>
						<div class="d-flex time-container">
							<button type="button"
								class="btn btn-secondary"
								onclick="TogglePicker('end-picker')">
								<i class="far fa-clock"></i>
							</button>
							<input dir="ltr"
							   type="text"
							   name="End"
							   value="@endHour:@endMin"
							   id="end-time"
							   class="form-control"
							   readonly />
						</div>
						<div dir="ltr" class="time-picker hide-picker p-4"
						 id="end-picker">
							<div class="hour-picker d-flex flex-column align-items-center justify-content-center">
								<i class="fa fa-arrow-up text-muted pointer"
							   onclick="IncHours('end-time' , 'end-hour')"></i>
								<span id="end-hour" class="current-hour my-1">@endHour</span>
								<i class="fa fa-arrow-down text-muted pointer"
							   onclick="DecHours('end-time' , 'end-hour')"></i>
							</div>
							<div class="min-picker d-flex flex-column align-items-center justify-content-center">
								<i class="fa fa-arrow-up text-muted pointer"
							   onclick="IncMin('end-time' , 'end-min')"></i>
								<span id="end-min" class="current-min my-1">@endMin</span>
								<i class="fa fa-arrow-down text-muted pointer"
							   onclick="DecMin('end-time' , 'end-min')"></i>
							</div>
						</div>
						<span class="text-danger" asp-validation-for="End"></span>
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label">شرح:</label>
					<textarea class="form-control" rows="5" asp-for="Description"></textarea>
					<span class="text-danger" asp-validation-for="Description"></span>
				</div>

			</section>
		</div>

		<div class="mt-3 text-center">
			<button onclick="SubmitClick(event)" type="submit" class="btn btn--submit">
				ثبت
			</button>
		</div>
	</form>
	@section Scripts{
	<script src="~/js/calender/operations.js"></script>
}