@model DisciplinarySystem.Presentation.Controllers.Verdicts.ViewModels.GetAllVerdicts

<div class="d-flex align-items-start align-items-sm-center justify-content-between mb-2 flex-column flex-sm-row">
	<h3>احکام</h3>
	<a asp-action="Create" class="btn btn--add d-flex align-items-center"><i class="fa fa-plus ms-2"></i>افزودن حکم جدید</a>

</div>
<form method="get">
<section class="card">
	<div class="table-overflow">
		<div class="table ">
			<table class="table text-center" width="100%">
				<thead>
					<tr class="text-center">
						<th>ردیف</th>
						<th>عنوان</th>
						<th>عملیات</th>
					</tr>
				</thead>
				<tbody>
					@for (int i=0;i<Model.Verdicts.Count();i++)
					{
						<tr class="text-center">
							<td>@(i+1+Model.Filters.Skip)</td>
							<td>@Model.Verdicts.ElementAt(i).Title</td>
							<td>
									<a class="btn btn--show" asp-action="Details" asp-route-id="@Model.Verdicts.ElementAt(i).Id"><i class="fa fa-eye"></i></a>
									<a class="btn btn--edit me-2" asp-action="Update" asp-route-id="@Model.Verdicts.ElementAt(i).Id"><i class="fa fa-edit"></i></a>
									<button type="button" class="btn btn--delete me-2" onclick="Delete('/Verdict/Remove/@Model.Verdicts.ElementAt(i).Id' , 'حکم')"><i class="fa fa-trash"></i></button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	</section>
	<partial name="_PagenationPartial" model="@Pagenation.Create(Model.Filters.Skip , Model.Filters.Take , Model.TotalCount)" />
</form>
@section Scripts{
	<script src="~/js/utility/removeAlert.js"></script>
	<script src="~/js/utility/pagenation.js"></script>

}
