@using DisciplinarySystem.Application.Helpers
@model DisciplinarySystem.Presentation.Controllers.Users.ViewModels.GetAllUsers

@section Styles{
	<link href="~/css/persianDateTime/kendo.common.min.css" rel="stylesheet" />
	<link href="~/css/persianDateTime/kendo.default.min.css" rel="stylesheet" />
	<link href="~/css/persianDateTime/custom.input.css" rel="stylesheet" />
}


	<div class="d-flex align-items-start align-items-sm-center justify-content-between mb-2 flex-column flex-sm-row">
		<h3>لیست اعضای کمیته</h3>
		<div class="d-flex align-items-center">
			<a asp-action="Create" class="btn btn--add d-flex align-items-center"><i class="fa fa-plus ms-2"></i>افزودن عضو جدید</a>

			<button type="button" onclick="ShowFilters('users-filters')" class="btn btn--filter d-flex align-items-center  me-2">
				<i class="fa fa-filter ms-2"></i>فیلتر
			</button>
		</div>

	</div>


	<form method="get">

		<partial name="_FilterPartial" model="@Model.Filters"/>

		<div class="table-overflow card shadow-sm">
			<div class="table ">
				<table class="table text-center" width="100%">
					<thead>
						<tr>
							<th class="table__row">ردیف</th>
							<th>نام و نام خانوادگی</th>
							<th>نقش</th>
							<th>تاریخ حضور</th>
							<th>تاریخ پایان</th>
							<th>تاریخ ایجاد</th>
							<th>عملیات</th>
						</tr>
					</thead>
					<tbody>
					@for (int i = 0; i < Model.Users.Count(); i++)
					{
						<tr>
							<td>@(i + 1 + Model.Filters.Skip)</td>
							<td>@Model.Users.ElementAt(i).FullName</td>
							<td>@Model.Users.ElementAt(i).Role.Title</td>
							<td>@Model.Users.ElementAt(i).AttendenceTime.From.ToShamsi()</td>
							<td>@Model.Users.ElementAt(i).AttendenceTime.To.ToShamsi()</td>
							<td>@Model.Users.ElementAt(i).CreateDate.ToShamsi()</td>
							<td>
								<div class="table__action">
									<a class="btn btn--show" asp-action="Details" asp-route-id="@Model.Users.ElementAt(i).Id"><i class="fa fa-eye"></i></a>
									<a class="btn btn--edit" asp-action="Update" asp-route-id="@Model.Users.ElementAt(i).Id"><i class="fa fa-edit"></i></a>		
									<button type="button" class="btn btn--delete me-2" onclick="Delete('/User/Remove/@Model.Users.ElementAt(i).Id' , 'کاربر')"><i class="fa fa-trash"></i></button>				
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

	<partial name="_PagenationPartial" model="@Pagenation.Create(Model.Filters.Skip , Model.Filters.Take , Model.TotalCount)" />
</form>

@section Scripts{
	<script src="~/js/utility/pagenation.js"></script>
	<script src="~/js/utility/removeAlert.js"></script>
	<script src="~/js/persianDateTime/jquery-1.9.1.min.js"></script>
	<script src="~/js/persianDateTime/jquery.min.js"></script>
	<script src="~/js/persianDateTime/JalaliDate.js"></script>
	<script src="~/js/persianDateTime/kendo.web.js"></script>
	<script src="~/js/persianDateTime/fa-IR.js"></script>
	<script>
		// persian DateTime
		$(document).ready(function () {
			$("#start-date").kendoDatePicker();
			$("#end-date").kendoDatePicker();
		});
	</script>
}
