@using DisciplinarySystem.Application.Helpers
@using DisciplinarySystem.Presentation.Models
@model DisciplinarySystem.Presentation.Controllers.RelatedInfos.ViewModels.GetAllRelatedInfos


@section Styles{
	<link href="~/css/persianDateTime/kendo.common.min.css" rel="stylesheet" />
	<link href="~/css/persianDateTime/kendo.default.min.css" rel="stylesheet" />
	<link href="~/css/persianDateTime/custom.input.css" rel="stylesheet" />
}

	@{
	var steps = new CaseSteps { CaseId = Model.Filters.CaseId, ActiveStep = "RelatedInfo", OnlySee = Model.Filters.OnlySee };
	<partial name="_CaseStepsPartial" model="@steps" />
}

<div class="d-flex align-items-center justify-content-end mb-2">
	@if (!Model.Filters.OnlySee)
	{
		<a asp-action="Create" asp-route-caseId="@Model.Filters.CaseId" class="btn btn--add d-flex align-items-center">
			<i class="fa fa-plus ms-2"></i>افزودن اطلاعات مرتبط
			جدید
		</a>
	}
	<button onclick="ShowFilters('related-info-filters')" class="btn btn--filter d-flex align-items-center  me-2">
		<i class="fa fa-filter ms-2"></i>فیلتر
	</button>
</div>

<form method="get">
	<partial name="_FilterPartial" model="@Model.Filters" />
	<div class="table-overflow card shadow-sm">
		<div class="table ">
			<table class="table text-center" width="100%">
				<thead>
					<tr>
						<th class="table__row">ردیف</th>
						<th>موضوع</th>
						<th>تاریخ ایجاد</th>
						<th>عملیات</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.RelatedInfos.Count(); i++)
					{
						<tr>
							<td>@(i + 1 + Model.Filters.Skip)</td>
							<td>@Model.RelatedInfos.ElementAt(i).Subject</td>
							<td>@Model.RelatedInfos.ElementAt(i).CreateDate.ToShamsi()</td>
							<td>
								<div class="table__action">
									<a class="btn btn--show" asp-action="Details" asp-route-id="@Model.RelatedInfos.ElementAt(i).Id"><i class="fa fa-eye"></i></a>
									@if (!Model.Filters.OnlySee)
									{
										<a class="btn btn--edit" asp-action="Update" asp-route-id="@Model.RelatedInfos.ElementAt(i).Id"><i class="fa fa-edit"></i></a>
										<button type="button" class="btn btn--delete me-2" onclick="Delete('/RelatedInfo/Remove/@Model.RelatedInfos.ElementAt(i).Id' , 'اطلاعات مرتبط')"><i class="fa fa-trash"></i></button>
									}
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

	<partial name="_PagenationPartial" model="@Pagenation.Create(Model.Filters.Skip , Model.Filters.Take , Model.TotalCount)" />
</form>
@section Scripts{
	<script src="~/js/utility/removeAlert.js"></script>
	<script src="~/js/utility/pagenation.js"></script>
	<script src="~/js/persianDateTime/jquery-1.9.1.min.js"></script>
	<script src="~/js/persianDateTime/jquery.min.js"></script>
	<script src="~/js/persianDateTime/JalaliDate.js"></script>
	<script src="~/js/persianDateTime/kendo.web.js"></script>
	<script src="~/js/persianDateTime/fa-IR.js"></script>
	<script>
		$(document).ready(function () {
			$("#datepicker").kendoDatePicker();
		});
	</script>
}