@using DisciplinarySystem.Application.Helpers
@using DisciplinarySystem.Presentation.Models
@model DisciplinarySystem.Domain.Violations.Violation

@{
	var step = new CaseSteps { CaseId = Model.CaseId, ActiveStep = "Violation" };
	<partial name="_CaseStepsPartial" model="@step" />
}

<div class="d-flex justify-content-end mb-3">
	<button type="button" onclick="history.back()" class="btn btn-secondary d-flex align-items-center">
		بازگشت
		<i class="fa fa-angle-left me-2"></i>
	</button>
</div>

	<div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-2">
		<h3 class="mb-4 mb-lg-0">مشاهده تخلف</h3>
		<div class="d-flex gap-1 flex-column flex-sm-row">
			<div>
				<label class="form-label">تاریخ ثبت:</label>
				<input type="text" value="@Model.CreateDate.ToShamsi()" class="form-control" readonly>
			</div>
		</div>
	</div>

	<div class="card shadow-sm mt-3">
		<div class="row">
			<div class="mb-3 col-md-6">
				<label class="form-label">نوع تخلف:</label>
				<input asp-for="Category.Title" readonly class="form-control"/>
			</div>
			<div class="mb-3 col-md-6">
				<label class="form-label">عنوان تخلف:</label>
				<input asp-for="Title"  class="form-control" readonly>
			</div>

		</div>
		<div class="mb-3">
			<label class="form-label">شرح تخلف:</label>
			<textarea asp-for="Definition" class="form-control" rows="3" readonly></textarea>
		</div>
	</div>

@if (Model.Documents != null && Model.Documents.Count() > 0)
{
	<div>
		<h4 class="mt-4">مدارک:</h4>
		<div class="table-overflow">
			<div class="table ">
				<table class="table text-center" width="100%">
					<thead>
						<tr>
							<th>عنوان مدرک</th>
							<th>تاریخ ارسال</th>
							<th>عملیات</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Documents)
						{
							<tr>
								<td>@item.Name</td>
								<td>@item.SendTime.ToShamsi()</td>
								<td>
									<div class="table__action">
										<a class="btn btn--show mx-2" asp-action="Download" asp-route-fileName="@item.Name" asp-route-file="@item.File">
											<i class="fa fa-download"></i>
										</a>
										
									</div>
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
}
